[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "adiv"]
	path = adiv
	url = https://github.com/cran/adiv
	shallow = true
	registered = true
